.navbar {
  background: #f97300;
}

.app-title {
  font-size: 22px;
  font-weight: 400;
  margin-left: 15px;
}

.main-page {
  padding: 86px 30px 30px;

  .app-spinner {
    text-align: center;
  }
}
