<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg fixed-top ">
  <img
    width="30"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span class="app-title">Welcome to {{ title }}</span>
</nav>

<div class="main-page container">
  <h2>Products:</h2>

  <table class="table table-hover">
    <caption>
      Products
    </caption>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>DESCROPTION</th>
      <th>PRICE</th>
      <th>QTY IN STOCK</th>
    </tr>

    <tr
      *ngFor="let product of products$ | async; let i = index"
      (click)="onRowClick(product)"
    >
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.qty }}</td>
    </tr>
  </table>

  <app-input-product [product$]="currentProduct$"></app-input-product>

  <span>
    {{ request$ | async }}
  </span>

  <div class="app-spinner">
    <div
      *ngIf="(request$ | async) === 'Loading'"
      class="spinner-border"
      role="status"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
